export(readDVI, DVIspecials, setDVIspecials, patchDVI, SweaveMiktex, 
       SweavePDFMiktex, patchSynctex, SweaveDVI, SweavePDF, SweaveDVIPDFM, 
       SweaveAll)
       
useDynLib(patchDVI, dviSpecials, setDviSpecials)