export(readDVI, DVIspecials, setDVIspecials, patchDVI, SweaveMiktex, 
       SweavePDFMiktex, patchSynctex, SweaveDVI, SweavePDF, SweaveDVIPDFM, 
       SweaveAll, patchLog, defSconcordance, useknitr)
       
useDynLib(patchDVI, dviSpecials, setDviSpecials)

importFrom(utils, Sweave, Stangle)
importFrom(tools, vignetteEngine)